/.venv
/.vscode
/debug.log
/keyrings.cryptfile
/logging.conf
/test.json
/test1.json
automateDJL/__pycache__/givAutomate.cpython-38.pyc
dlbattery.conf
automateDJL/__pycache__/__init__.cpython-39.pyc
automateDJL/__pycache__/givAutomate.cpython-39.pyc
automateDJL/__pycache__/weather.cpython-39.pyc
automateDJL/__pycache__/__init__.cpython-310.pyc
automateDJL/__pycache__/weather.cpython-310.pyc
